#main-profile-img {
  border-radius: 50%;
  margin-top: 8rem;
  width: 250px;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 4rem;
}

#profile-username {
  font-family: 'Architects Daughter';
  font-size: 1.5rem;
  margin: .75rem 0 0;
}

#profile-name {
  font-family: 'Montserrat';  
  margin: 0;
}

.fa-minus {
  font-size: 1.25rem;
}

.profile-info .fa-atlassian {
  color: #000;
}

.profile-inner-container {
  background: #fff;
  font-family: 'Architects Daughter', cursive;
  padding: 10px;
  margin: auto;
}

#profile-heading {
  font-size: 2rem;
  margin: .75rem 0 -15px;
  text-decoration: underline;
}

.max-1000 {
  margin: auto;
  max-width: 1000px;
}

@media (min-width: 768px) { 
  #main-profile-img {
    width: 300px;
  }
  #profile-username {
    font-size: 2rem;
  }
  #profile-heading {
    font-size: 2.75rem;
    margin: 2rem 0 -15px;
  }
  .profile-inner-container {
    border-radius: 5px;
  }
}