#searchbar-container {
  margin-top: 2rem;
  width: 100%;
}

#searchbar-container form {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  width: fit-content;
  margin: auto;
  background: #8fc3e6;
  padding: 0.25rem 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

#search-btn {
  background: #fff;
  border: 1px solid #000;
  font-size: 22px;
  color: #479cd6;
  border-radius: 50%;
  margin-left: 5px;
  height: 40px;
  width: 45px;
}

#search-results-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-top: 2rem;
}

#searchbar-input {
  border: 1px solid #000;
  border-radius: 15px;
  margin: 0;
  max-width: 400px;
  padding-left: 10px;
  width: 100%;
}

#search-clear {
  margin-top: .5rem;
  display: block;
  text-decoration: underline;
}

#search-clear:hover {
  color: #479cd6;
  cursor: pointer;
}

#searchbar-input:hover {
  background:#d1edff;
}

#search-btn:hover {
  background: #479cd6;
  border: 1px solid #479cd6;
  color: #fff;
  cursor: pointer;
}

.fa-3x {
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {  
  #searchbar-container form {
    min-width: 375px;
  }
}