.navigation {
  position: fixed;
  top: 0;
  align-items: center;
  background: #000;
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
  padding: 0;
  display: flex;
  flex-direction: row;
  opacity: .9;
  width: 100%;
  z-index: 1;
}

.navigation-logo {
  color: #fff;
  flex: 1;
  margin-left: 25px;
}

.nav-link-container {
  flex: 2;
  padding: 17px 25px;
  text-align: right;
}

.nav-link-container div {
  display: inline-flex;
  list-style-type: none;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link-container div a {
  border-bottom: 3px solid transparent;
  color: #fff;
  margin: 0 25px;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 3px solid #fff;
}

.active {
  border-bottom: 3px solid #479cd6;
}

#account-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #479cd6;
  border-radius: 50%;
  color: #000;
  height: 42px;
  margin: -5px 25px -5px 20px;
  width: 42px;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link.active a:before,
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.sidenav-active {
  width: 250px;
}

@media (max-width: 768px) {
  .navigation {
    justify-content: space-between;
  }
  .navigation-logo {
    margin-left: 10px;
  } 
  .nav-link-container {
    flex: none;
    padding: 10px 0 0;
  }
  .nav-link-container div {
    padding: 0;
    list-style-type: none;
    margin: 0; 
  }
  #account-bubble {
    margin: 0 1rem 0 0;
  }
  .nav-link {
    display: none;
  }
  .nav-link-container div a {
    margin: 0;
  }
}