.sidenav {
  border-left: 1px solid #000;
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  right: 0;
  background-color: #111; 
  overflow: hidden; 
  max-width: 300px;
  padding-top: 60px; 
  transition: 0; 
}

.sidenav .side-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.side-link{
  background: #fff;
  color: #000;
  font-family: 'Architects Daughter', cursive;
  margin-top: .2rem;
}

a {
  text-decoration: none;
}

.sidenav .side-link:hover{
  color: #000;
  opacity: .8;
}

#nav-profile {
  color: #479cd6;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin: 1rem auto;
  width: 125px;
  border-radius: 50%;
}

#nav-support-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#responsive-nav-logo {
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  margin: 1.5rem auto 0;
  text-align: center;
}

#mySidenav .fa-atlassian {
  font-size: 4rem !important;
}

#mySidenav .flex-row {
  flex-direction: row;
}

.mb-icon {
  margin-bottom: 2rem !important;
}

#sidebar-menu-head {
  align-items: center;
  justify-content: space-between;
}

#sidebar-menu-head .fa-window-close {
  margin: 0;
}

.logout-btn {
  background: #fff;
  border-radius: 5px;
  color: #000;
  display: block;
  font-family: 'Architects Daughter', cursive;
  font-size: 17px;
  font-weight: 600;
  margin-left: 15px;
  padding: 6px 12px;
}

.logout-btn:hover {
  background: #479cd6;
  color: #111;
  cursor: pointer;
  transition: .25s;
}

.sidenav .closebtn {
  display: block;
  text-align: right;
  padding: 0 20px;
  font-size: 2.25rem;
}

#main {
  transition: margin-right 2s;
}

.fa-window-close {
  color: #479cd6;
  margin-top: 15px;
}

.fa-window-close:hover {
  color: #fff;
  cursor: pointer;
  opacity: .8;
}

.delete-account-container {
  margin-top: 1.75rem;
  text-align: center;
}

#delete-account-warning {
  color: #fff;
  font-family: 'Montserrat';
  font-size: .9rem;
  padding: 0 1rem;
}

#delete-account-btn {
  background: none;
  border: none;
  color: #fff;
  font-family: 'Architects Daughter';
  font-size: 1.2rem;
  text-underline-offset: .15rem;
  margin: 1rem auto 0;
  text-decoration: underline;
  width: 100%;
}

#delete-account-btn:hover {
  color: rgb(172, 37, 37);
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav .side-link {font-size: 18px;}
}