.comment-form-submit input[typeOf='text'] {
  padding-left: 10px !important;
}

#comment-delete {
  font-size: 1rem;
  position: absolute;
  top: 6px;
  right: 10px;
  font-family: 'Montserrat';
}

#comment-delete:hover {
  color: #a32f2f;
  cursor: pointer;
  transform: scale(1.05);
}
