.app {
  background: #000;
  text-align: center;
}

#root {
  overflow: hidden;
}

#loading-screen {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  animation-name: loadingPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loadingPulse {
  0%   {transform: scale(1);}
  25%  {transform: scale(.85);}
  50%  {transform: scale(1);}
  75%  {transform: scale(.85);}
  100% {transform: scale(1);}
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-heading {
  font-size: 4rem;
  position: absolute;
  top: 12vh;
  right: 30vw;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  width: 100vw;
  justify-content: space-around;
}

.row-main {
  color: #fff;
  max-width: 1600px;
  margin: -10px auto 0;}

.card-title {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.35rem;
  text-align: center;
  flex: 1;
  padding: 10px 25px;
}

.card-title h3 {
  margin: .5rem auto 0;
}

.card-title i {
  font-size: 3.5rem;
}

.card-title button i {
  font-size: 1.5rem;
  margin-left: 5px;
}

.card-title:hover {
  background: #fff;
  color: #000;
  opacity: .9;
  cursor: pointer;
  transition: .15s;
}

.card-title:hover .main-btn {
  background: #000;
  color: #fff;
  opacity: .9;
  cursor: pointer;
  transition: .15s;
}

.card-title p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: .5rem 0;
  padding: 0 10px
}

.bd-right-w {
  border-right: 1px solid #fff;
}

.sub-heading {
  color: #509cd1;
  font-size: 3.5rem;
  position: absolute;
  top: 23vh;
  right: 17vw;
}

.support-heading {
  font-size: 3.5rem;
  position: absolute;
  top: 34vh;
  right: 8vw;
}

.sub-main {
  background: #000;
  height: 100%;
  text-align: center;
  opacity: .8;
  margin-top: -150px;
  padding: 20px 0;
}

.heading-text {
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.5rem;
  margin: 2.5rem auto 0;
  text-align: center;
  width: 100vw;
}

.heading-text-support {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: .25rem auto 0;
  max-width: 800px;
  text-align: center;
}

.main-btn {
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 20px auto 0;
  opacity: .8;
  padding: 9px 20px;
  border: 1px solid #fff;
}

.main-btn-ext {
  color: #fff;
  background: #56a3d7;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 20px auto 3rem;
  padding: 12px 24px;
  border: 1px solid #fff;
  justify-content: center;
  width: 250px;
}

.main-btn-ext:hover {
  cursor: pointer;
  opacity: .8;
  transition: .25s;
  transform: scale(.95);
}

.main-btn-ext i {
  font-size: 1.75rem;
  margin-left: .5rem;
}

.alt-heading {
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 .75rem;
}

.sub-text-heading {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.video-full-container {
  background: #fff;
  margin: 2rem auto;
  height: 100%;
}

.video-full {
  background: #fff;
  border: 0px solid black;
  margin: 0 auto -10px;
  height: 450px;
}

.fade-in {
  animation: fadeInEffect linear 4.5s;
  }
@keyframes fadeInEffect {
  0% {opacity:0;}
  90% {opacity: 0;}
  100% {opacity:1;}
}

.fade-in-heading {
  animation: fadeInEffect2 linear 4.5s;
  }
@keyframes fadeInEffect2 {
  0% {opacity:0;}
  90% {opacity: 0;}
  100% {opacity:1;}
}

.fade-in-1 {
  animation: fadeIn linear 2s;
  }
@keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity: .1;}
  80% {opacity:1; font-size: 4.25rem}
  90% {opacity:1; font-size: 4rem}
  100% {opacity:1;}
}

.fade-in-2 {
  animation: fadeIn2 linear 3s;
  }
@keyframes fadeIn2 {
  0% {opacity:0;}
  50% {opacity: .1;}
  80% {opacity:1; font-size: 4.25rem}
  90% {opacity:1; font-size: 4rem}
  100% {opacity:1;}
}
    

.fade-in-3 {
  animation: fadeIn3 linear 4s;
}
@keyframes fadeIn3 {
  0% {opacity:0;}
  50% {opacity: .1;}
  80% {opacity:1; font-size: 4.25rem}
  90% {opacity:1; font-size: 4rem}
  100% {opacity:1;}
}